@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    margin: 0;
    background: #eee;
    font-family: Besley, serif;
    background: #000000;
}

header {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 24px;
    font-weight: 700;
    color: rgb(0, 255, 136);
    text-shadow: 10px 10px black;
    background-color: #112013;
    padding: 16px;
}


.topMessage {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
    margin-bottom: -50px;
}

.topMessage h1, .topMessage p {
    font-family: 'Press Start 2P', cursive;
}

section.section-choice {
    display: flex;
    color: white;
    justify-content: space-evenly;
    align-items: center;
    padding: 64px 8px;
}

.box {
    background: rgba(255, 255, 255, 0.3);
    padding: 64px 32px;
    width: 500px;
    height: 298px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

.box div h2 {
    margin: 0px;
}

.score {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin: 16px 12px;
}

.scoreDisplay {
    font-size: 30px;
}

.score img {
    width: 60px;
    height: auto;
}

.computer-score img {
    transform: translate(0px, 11px);
}

.selection {
    gap: 32px;
    display: flex;
    margin: 12px;
}

.selection div {
    background-color: white;
    padding: 8px;
    box-shadow: 10px 10px 3px black;
    border-radius: 5px;
}

.selection div.show-computer-selection {
    background-color: rgba(41, 59, 192, 0.774);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    transition-duration: 0.1s;
    transform: translate(4%, 6%);
    transition-timing-function: ease-in;
    box-shadow: 6px 6px 3px black;
}

.selection div.show-player-selection {
    background-color: rgba(202, 44, 60, 0.795);
}

.selection div.show-player-selection:hover{
    background-color: rgba(202, 44, 60, 0.795);
}


.selection div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player-selection div:hover {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    transition-duration: 0.1s;
    transform: translate(2%, 4%);
    transition-timing-function: ease-in;
    box-shadow: 8px 8px 3px black;
}



.player-selection div:active {
    background-color: rgba(202, 44, 60, 0.795);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    transition-duration: 0.1s;
    transform: translate(4%, 6%);
    transition-timing-function: ease-in;
    box-shadow: 6px 6px 3px black;
}

.selection div p {
    color: black;
    font-weight: bolder;
}

.selection img {
    width: 105px;
    height: auto;
    
}


section.section-result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 23, 7)
}

section.section-result div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


#resultContainer {
    display: flex;
    flex-direction: row;
}

.result-img-container {
    align-items: center;
    justify-content: space-between;
    padding: 44px;
    margin: 30px;
    gap: 100px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 25px;
}

.result-img-container div {
    background-color: rgb(255, 255, 255);
    padding: 44px 16px;
    border-radius: 8px;
    box-shadow: 10px 10px 6px black;
}


.result-img-container .show-correct-result {
    background-color: rgb(64, 255, 64);
    box-shadow: 10px 10px 8px black;
}

.result-img-container .show-wrong-result {
    background-color: rgb(255, 72, 72);
    box-shadow: 10px 10px 8px black;
}

.result-img-container .show-tie-result {
    background-color: rgb(255, 225, 0);
    box-shadow: 10px 10px 8px black;
}

.result-img-computer img {
    width: 262.5px;
    height: auto;
}

.result-img-player img {
    width: 262.5px;
    height: auto;
}

.ending {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.hide-content{
    display: none;
}

.show-win-fancy {
    color: #d5902b;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-shadow: 2px 2px white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transform: translateY(-100px);
    font-size: 100px;
}

.show-lose-fancy {
    color: red;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-shadow: 2px 2px white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transform: translateY(-100px);
    font-size: 100px;
}

button {
    color: black;
    padding: 12px;
    font-size: 44px;
    transition: all 1s ease;
}

button:hover {
    font-size: 56px;
    cursor: pointer;
}